.container{
    width: 200px;
    border: 1px solid darkgrey;
    padding: 2rem;
    text-align: center;
    background-color: rgb(218, 242, 250);
}

.clicks-display{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.menu {
    border-top: 1px solid darkgrey;
    padding-top: 0.5rem;
}

.positive-number{
    color: blue;
}

.negative-number{
    color: red;
}